body, html {
    height: 100%;
  }

#form_container {
    position: relative;
    align-items: center;
    text-align: center;
}

#welcome_explanation{
    text-align: center;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: oldlace;
    opacity: 75;
    position: relative;
}

#background{
    background-image: url("falling-pokeballs.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 30%;
    position: absolute;
}
#search_form {
    display: flex;
    justify-content: space-between;
    
}

#search_form>*{
    font-size: 1.5em;
    padding-top:15px;
    padding-bottom: 15px;
    margin: 10px;
    background: content-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    margin: auto;
    opacity: 100%;
}
h3{
    margin: auto;
}
#user_search_bar{
    flex-grow: 1;
    background: content-box;
    width: 204px;
    
}

#drop_down {
    background: content-box;
}
#submit{
    position: relative;
}

#pokemon_table_container, #type_table_container {
    display: none;
}

#pokemon_table, th, td{
    font-size: 1.5em;
    opacity: 99%;
    justify-content: space-between;
    border:1px solid black;
    text-align: center;
}

#pokemon_image {
    display: block;
    position: relative;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}

.tooltip{
    position:relative;
    display: flex;
    border-bottom: 1-x dotted black;
}

.tooltiptext {
    display: none;
    position: absolute;
    top: -60px;
    left: 150px;
    z-index: 1;
    background-color: antiquewhite;
    padding: 8px;
}
